
body{
    overflow-x:hidden;
    width:100%;
    align-items: center;
    font-family: sans-serif;
}
#i{
    display:none;
}
.top{
    height:150px;
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: sticky;
    top:0.1px;
    background-color:white;
}
.top1{
    height:90px;
    width:90px;
    border:1px solid rgb(3, 3, 100);
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.top2{
    height: 60px;
    width:60px;
    border:1px solid black;
    border-radius: 50%;
    background-image: url(download.png) ;
    background-size: cover;
}
.nav{
    height:50px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.aa{
    margin:20px;
    text-decoration: none;
    font-weight: 500;
}
.get{
    height:400px;
    width: 100%;
    display:flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom:100px;
}
i{
    margin:10px;
    margin-left:40px;
    color:rgb(3, 3, 100)
}
.get1{
    width:fit-content;
    font-size: 20px;
    display: flex;
    flex-direction:column;
    justify-content:center;
}
.button{
    height:8vh;
    width:20vw;
    color:rgb(3, 3, 100);
    font-size:17px;
    border:1px solid black;
    border-radius:5px;
    cursor: pointer;
}
.get3{
    width:fit-content;
    height:fit-content;
    display:flex;
    justify-content:center;
    rotate:90deg;
    color:rgb(3, 3, 100)
}
.get2{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}
.icon{
    background-image: url(giphy.webp);
    height:140px;
    width:140px;
    background-size:cover;
}
h1{
    font-size: 50px;
    color:rgb(3, 3, 100);
}
h2{
    font-size:40px;
}
h3{
    font-size:30px;
}
.resolution{
    height:600px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-evenly;
    color:rgb(3,3,100);
}
.image{
    background-image:url(download.png);
    height:200px;
    width:200px;
    background-size:cover;
    margin:100px;
}
.we{
    display: flex;
    flex-direction: column;
    justify-content:center;
    text-align:center;
    align-items: center;
}
.security{
    font-size:35px;
    color:rgb(3,3,100);

}
.button2{
    height:45px;
    width:180px;
    color:rgb(3,3,100);
    font-size:18px;
    background-color: white;
    cursor: pointer;
    border:1px solid rgb(3,3,100);
    border-radius:5px;
}
.button3{
    height:45px;
    width:170px;
    color:white;
    font-size:18px;
    background-color: rgb(3,3,100);
    cursor: pointer;
    margin-top:20px;
    border:1px solid rgb(3,3,100);
    border-radius:5px;
}
.client{
    font-size:40px;
}
.scroll{
    height: 200px;
    width:100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items:center;
    overflow: hidden;
    margin:20px;
    z-index:-1;
    position: relative;
}
.scroll::-webkit-scrollbar{
    width:0px;
}
.scroll2{
    height:180px;
    min-width:180px;
    background-color: aliceblue;
    margin:10px;
    animation: move 10s linear infinite;
    border-radius:10px;
}
.scroll3{
    height:180px;
    min-width:180px;
    background-color:white;
    margin:10px;
    animation: moves 20s linear infinite;
    border-radius:10px;
}
@keyframes move {
   0%{
      transform: translateX(0)
   }
   100%{
    transform: translateX(-1000px);
   }
}
@keyframes moves {
    0%{
        transform:translatX(0);
    }
    100%{
        transform: translatex(1000px);
    }
}
#im1{
    background-image: url(download.jpeg);
    background-size:cover;
}
#im2{
    background-image: url(download\ \(2\).jpeg);
    background-size:cover;
}
#im3{
    background-image: url(download\ \(3\).jpeg);
    background-size: cover;
}
#im4{
    background-image: url(download\ \(4\).jpeg);
    background-size:cover;
}
#im5{
    background-image: url(download\ \(5\).jpeg);
    background-size:cover;
}
#im7{
    background-image: url(download\ \(6\).jpeg);
    background-size:cover;
}
#im6{
    background-image: url(download\ \(7\).jpeg);
    background-size:cover;
}
#im8{
    background-image: url(download\ \(8\).jpeg);
    background-size:cover;
}
#im9{
    background-image: url(download\ \(9\).jpeg);
    background-size:cover;
}
#im10{
    background-image: url(download\ \(14\).jpeg);
    background-size:cover;
}
#im11{
    background-image: url(download\ \(10\).jpeg);
    background-size:cover;
}
#im12{
    background-image: url(download\ \(11\).jpeg);
    background-size:cover;
}
#im13{
    background-image: url(download\ \(15\).jpeg);
    background-size:cover;
}
#im14{
    background-image: url(download\ \(12\).jpeg);
    background-size:cover;
}
#im15{
    background-image: url(download\ \(13\).jpeg);
    background-size:cover;
}
#im16{
    background-image: url(download\ \(16\).jpeg);
    background-size:cover;
}
#am{
    background-image: url(download\ \(17\).jpeg);
    background-size: cover;
}
#am1{
    background-image: url(download\ \(18\).jpeg);
    background-size: cover;
}
#am2{
    background-image: url(download\ \(19\).jpeg);
    background-size: cover;
}
#am3{
    background-image: url(download\ \(20\).jpeg);
    background-size: cover;
}
#am4{
    background-image: url(images\ \(1\).jpeg);
    background-size: cover;
}
#am5{
    background-image: url(images\ \(2\).jpeg);
    background-size: cover;
}
#am6{
    background-image: url(images\ \(3\).jpeg);
    background-size: cover;
}
#am7{
    background-image: url(images\ \(4\).jpeg);
    background-size: cover;
}
#am8{
    background-image: url(images\ \(5\).jpeg);
    background-size: cover;
}
#am9{
    background-image: url(images\ \(6\).jpeg);
    background-size: cover;
}
#am10{
    background-image: url(images\ \(8\).jpeg);
    background-size: cover;
}
#am11{
    background-image: url(images\ \(9\).jpeg);
    background-size: cover;
}
#am12{
    background-image: url(images.jpeg);
    background-size: cover;
}
#am13{
    background-image: url(download\ \(18\).jpeg);
    background-size: cover;
}
#am14{
    background-image: url(download\ \(19\).jpeg);
    background-size: cover;
}
#am15{
    background-image: url(download\ \(20\).jpeg);
    background-size: cover;
}
.tech{
    display:flex;
    width:100%;
    height:fit-content;
    justify-content: space-evenly;
    align-content:center;
    margin-top:100px;
    flex-wrap:wrap;
}
.ppp{
    width:50vw;
    
}
.tool{
    width:100%;
    text-align: center;
    display:flex;
    flex-wrap:wrap;

}
.ues{
    rotate:-90deg;
    display:flex;
    justify-content:center;
    align-items: center;
    height:30px;
    width:20vmin;
    align-self: center;
}
.on{
    width:30vw;
    display:flex;
    justify-content: center;
}
.on1{
    height:40px;
    width:200px;
    border:1px solid black;
    border-radius:50px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:40px;
    box-shadow: 0px 0px 50px -10px rgb(3,3,100);
}
.on2{
    height:30px;
    width:60%;
    margin:5px;
    color:white;
    border-radius:50px;
    border:1px solid black;
    background-color:rgb(3,3,100);
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 25px;
    font-weight:bold;
}
.on3{
    height:30px;
    width:60%;
    margin:5px;
    font-weight: bold;
    font-size:25px;
    border-radius:50px;
    border:none;
    background-color:none;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}
.graph{
    width:40%;
}
.phh{
    height:14vmin;
    width:14vmin;
    background-image: url(download.jpeg);
    background-size: cover;
    margin:5px;
    border-radius:30px;
    
}
.tool2{
    height:fit-content;
    width:50vw;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.grow{
    height:600px;
    width:100vw;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
   
}
.grow1{
    height:100%;
    width:44%;
    color: rgb(3,3,100);
    text-align: center;
}
.graph{
    height:100%;
    width:48%;
    display:flex;
    justify-content:center;
    align-items: center;
}
.graph1{
    height:400px;
    width:400px;
    background-image: url(graph.jpeg);
    background-size:cover;
}
.right{
    font-size:42px;
    font-weight:bold;
}
.down{
    font-size:22px;
    font-weight: bold;
}
.loo{
    font-size:20px;
}
.query{
    color:rgb(3,3,100);
    border:1px solid rgb(3,3,100);
    height:50px;
    width:300px;
    font-size:18px;
    border-radius:5px;
}
.award{
    height:500px;
    width: 100%;
    color:white;
    background-image: url(download\ \(17\).jpeg);
    background-size:cover;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    position:relative;
    z-index:-2;
}
.award1{
    height:100%;
    width:40%;
    background-color: transparent;
    background-image: url(png-2375510_1280.png);
    background-size:cover;
    opacity:0.5;
    position:relative;
    z-index:-1;
}
.award2{
    width:50%;
    height:80%;
    font-size:20px;
}
.why{
    height:200px;
    text-align:center;
    margin-top:50px;
    color:rgb(3,3,100);
}
.gc{
    font-size:37px;
    font-weight:bold;
}
.bc{
    font-size:29px;
    font-weight:bold;
    margin-top:20px;
}
.exp{
    height:300px;
    width:100%;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    color:rgb(3,3,100);
}
.expe{
    height:150px;
    width:27%;
    box-shadow:2px 2px 50px 5px rgb(3,3,100);
    border-radius:15px;
    font-size:20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 5px;
    
}
#icon{
    font-size:50px;
}
.nine{
    height:100%;
    width:60%;
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align: center;
}
.nine1{
    font-size:50px;
    font-weight:bold;
}
.nine2{
    font-size:18px;
}
.proj{
    height:150px;
    width:27%;
    box-shadow: 2px 2px 50px 5px rgb(3,3,100);
    border-radius:15px;
    font-size:20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.nn{
    display:flex;
    flex-direction:column;
    text-align:center;
    height:100%;
}
.clients{
    height:150px;
    width:27%;
    box-shadow:2px 2px 50px 5px rgb(3,3,100);
    border-radius:15px;
    font-size:20px;
    display:flex;
    justify-content: space-between;
    align-items:center;
    
}
.test{
    text-align:center;
    color:rgb(3,3,100);
    margin:40px;
}
.observation{
    height:550px;
    width:fit-content;
    display:flex;
    position:relative;
    z-index:-1;
    animation:move 10s linear infinite;
}
.obser{
    width:100%;
    overflow:hidden;
}
.obs1{
    height:35vmin;
    width:50vmin;
    display:flex;
    color:rgb(3,3,100);
    margin:20px;
    text-align: center;
    font-size: 21px;
}
.download{
    width:100%;
    height:500px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.downloads{
    width:40%;
    text-align:center;
    color:rgb(3,3,100);
}
.downn{
    font-size:50px;
}
.button8{
    height:50px;
    width:200px;
    background-color: rgb(3,3,100);
    color:white;
    font-size:23px
}
.pera{
    font-size: large;
}
.movie{
    width:40%;
    display:flex;
    justify-content:center;
    align-items:center;
}
.mmoo{
    width:70%;
    height:290px;
    background-color: aliceblue;
    background-image: url(download\ \(10\).jpeg);
    background-size:cover;
    transform:skew(-0.3rad, -20deg);
    position: relative;
    z-index: -1;
}
.leader{
    text-align:center;
    color:rgb(3,3,100);
}
.owner{
    height:500px;
    width:100%;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
}
.ceo{
    height:90%;
    width:22%;
    text-align:center;

}
.ceo2{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    font-size:25px;
}
.ph{
    height:70%;
    width:90%;
    background-image: url(profile.jpeg);
    background-size:cover;
    border-radius:50%;
    border:1px solid black;
}
.vp{
    height:90%;
    width:22%;
    text-align:center;
}
.ph1{
    height:70%;
    width:90%;
    background-image: url(profile1.jpeg);
    background-size:cover;
    border-radius:50%;
    border:1px solid black;

}
.manager{
    height:90%;
    width:22%;
    text-align:center;
}
.ph2{
    height:70%;
    width:90%;
    background-image: url(profile2.jpeg);
    background-size:cover;
    border-radius:50%;
    border:1px solid black;
}
.creative{
    height:90%;
    width:22%;
    text-align:center;

}
.ph3{
    height:70%;
    width:90%;
    background-image: url(profile3.jpeg);
    background-size:cover;
    border-radius:50%;
    border:1px solid black;
    color:rgb(3,3,100);
}
.hr{
    width:100%;
    margin-top:50px;
}
.foot{
    height:140px;
    width:100%;
    display:flex;
    justify-content:space-evenly;
    align-items: center;

}
.foot1{
    height:100px;
    width:100px;
    border:1px solid rgb(3,3,100);
    border-radius:50%;
    display:flex;
    justify-content: center;
    align-items:center;
}
.foot2{
    height:80px;
    width:80px;
    background-image:url(download.png);
    background-size:cover;
    border-radius:50%;
}
@media (max-width:800px){
    #i{
        display:grid;
        font-size:25px;
    }
    .top{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        height:100px;
    }
    .nav{
        display:none;
    }
    body{
       align-items: center;
       
        overflow-x:hidden;
    }
    .tech{
        width:100%;
        color:rgb(3,3,100);
    }
    .tool{
        display:flex;
        flex-direction:column;
        width:100%;
        height:fit-content;
        align-items:center;
    }
    .button{
        width:fit-content;
    }
    .icon{
        height:250px;
    }
    .resolution{
        text-align: center;
    }
    .on{
        width:100%;
        display:flex;
        justify-content:center;
        margin-bottom:40px;
    }
    .ues{
        width: fit-content;
        rotate:0deg;
        color:rgb(3,3,100);
    }
    .grow{
        display:flex;
        flex-direction:column;
        height:fit-content;
        align-items:center;
        width:100%;
    }
    .grow1{
        width:80%;
    }
    .award{
        height:fit-content;
        align-items:center;
        width:100%;

    }
    .award1{
        width:100%;
    }
    .award2{
        width:600px;
    }
    .exp{
        display:flex;
        flex-direction:column;
        height:fit-content;
    }
    .expe{
    width:fit-content;
    margin:10px;
    }
    .proj{
    width:fit-content;
    margin:10px;
    }
    .clients{
    width:fit-content;
    margin:10px;
    }
    .nn{
    width:207px;
    }
    .observation{
        width:fit-content;
        overflow: hidden;
    }
    .obser{
        height:350px;
        width:100%;
        overflow: hidden;
    }
    .obs1{
        width:50vmin;
    }
    .download{
        display:flex;
        flex-direction:column;
        height:fit-content;
    }
    .movie{
        width:80%;
        margin:40px;
    }
    .downloads{
        width:90%;
        margin:40px;
    }
    .owner{
        display:flex;
        flex-direction:column;
        height:fit-content;
    }
    .ceo{
        width:80%;
        height:fit-content;
        margin:20px;
        display:flex;
        flex-direction:column;
        align-items: center;
    }
    .ph{
        height:250px;
        width:250px;
    }
    .ph1{
        height:250px;
        width:250px;
    }
    .ph2{
        height:250px;
        width:250px;
    }
    .ph3{
        height:250px;
        width:250px;
    }
    .vp{
        width:80%;
        height:fit-content;
        margin:20px;
        display:flex;
        flex-direction:column;
        align-items: center;
    }
    .manager{
        width:80%;
        height:fit-content;
        margin:20px;
        display:flex;
        flex-direction:column;
        align-items: center;
    }
    .creative{
        width:80%;
        height:fit-content;
        margin:20px;
        display:flex;
        flex-direction:column;
        align-items: center;
    }
    .foot{
        height:fit-content;
        display: flex;
        flex-direction: column;
    }
    .foot1{
        
    }
}